@import "mixins"
@import "constants"

.btn
  border none
  padding medium_spacing
  background galuboi
  color white
  border-radius default_spacing
  shadow_default(galuboi)

  &--add-item-big
    padding medium_spacing big_spacing
    border-radius big_spacing
    line-height 1
    shadow_medium(galuboi)
    icon("plus")

    &:before
      padding-right medium_spacing

  &--outlined
    background-color transparent
    box-shadow none
    border 1px solid red

  &--text
    background-color transparent
    box-shadow none

  &--delete
    color red

  &--round-toggle
    border 1px solid light_gray
    border-radius 100%

  &--color-picker
    icon("palette")

  &--trash
    icon("trash")

  &--check
    icon("check")
    background-position medium_spacing center
    background-size 1em
    &:before
      padding-right medium_spacing
