.checkbox
  box-sizing border-box
  width 1em
  height 1em
  background-color transparent
  display block

  > input
    visibility hidden

  &__icon
    box-sizing border-box
    border 2px solid white
    border-radius .2em
    position absolute
    height 1em
    width 1em
    top 0
    left 0
    line-height 1em

    &:before
      position relative
      font-size .8em
      vertical-align top

  &--checked &__icon
    icon("check")
    background white

