box_shadow = 4px 10px 20px -10px #777777
width_dayplan = 240px

// COLORS
soft_red = #ffccbe
soft_blue = #83c1e2
soft_yellow = #fff770

light_gray = #e4e4e4
gray = #a0a0a0


// SPACINGS
big_spacing = 1rem
default_spacing = 10px
