width_dayplan = 240px

// COLORS
soft_red = #ffccbe
soft_blue = #83c1e2
galuboi = #03a9f4
soft_yellow = #fff770
$green = #8bc34a

light_gray = #e4e4e4
gray = #a0a0a0
dark_gray = #777777

// SPACINGS
base = 4px
small_spacing = base
default_spacing = 2*base
medium_spacing = 4*base
big_spacing = 6*base

// sizes
todo_width = 300px