@import "constants"

.tick
  position: relative

  &::after
    // the invisible mouse detector area
    content ""
    position absolute
    z-index 1
    height 100%
    width 100% + todo_width

  &__number
    font-size: 1rem
    position: absolute
    overflow: visible
    top: 0
    transform: translateY(-50%)
    width: 1.5em
    text-align: right
    right: 2rem
    box-sizing: border-box

  &__line
    position: absolute
    right: 0
    top: 0
    transform: translateY(-50%)
    background: #cbcbcb
    width: 1rem
    height: 1px
    color: white
    transform-origin: right center

  &:nth-of-type(12n + 1) &__line
    /* the full hour */
    background: #2f2f2f
    width: 1.5rem

  &:nth-of-type(6n + 1):not(:nth-of-type(12n + 1)) &__line
    /* every half hour */
    background: #727272
    width: 1.3rem

  &-debug-nr
    position absolute
    right 0