@import "constants.styl"

.tick
  position: relative


.tick::after
  // the invisible mouse detector area
  content ""
  position absolute
  height 100%
  width 100% + todo_width


.tick__number
  font-size: 1rem
  position: absolute
  overflow: visible
  top: 0
  transform: translateY(-50%)
  width: 1.5em
  text-align: right
  right: 2rem
  box-sizing: border-box


.tick__line
  position: absolute
  right: 0
  top: 0
  transform: translateY(-50%)
  background: #cbcbcb
  width: 1rem
  height: 1px
  color: white
  transform-origin: right center


.tick:nth-of-type(12n + 1) .tick__line
  /* the full hour */
  background: #2f2f2f
  width: 1.5rem


.tick:nth-of-type(6n + 1):not(:nth-of-type(12n + 1)) .tick__line
  /* every half hour */
  background: #727272
  width: 1.3rem

.tick-debug-nr
  position absolute
  right 0