.timeline
  height 100%
  position: relative
  box-sizing: border-box
  overflow: hidden
  padding: 70px 0
  display: grid
  grid-template-columns: 100px 1px todo_width
  grid-column-gap: 0
  grid-row-gap: 0
  grid-auto-flow: column
  transition: .3s

.timeline__separator 
  width: 1px
  background: linear-gradient(rgb(255, 255, 255) 5%, grey 10%, grey 90%, rgb(255, 255, 255) 95%)
  transform: scaleY(1.25)
  transform-origin: center
  position relative
