@import "mixins.styl"

.dayplan
  position relative
  width width_dayplan
  box-shadow box_shadow
  margin 1em
  line-height 1.5em

  soft_bg_colors()

  button
    padding 1em
    background-color transparent
    border none

    &.pinned,
    &.unpinned
      background-repeat no-repeat
      background-position center center
      background-size 24px 24px
      height 32px
      width 32px

    &.pinned
      icon("../public/pinned.svg")

    &.unpinned
      icon("../public/unpinned.svg")

  &__header
    padding big_spacing big_spacing default_spacing
    border-bottom 1px solid rgba(black, 0.1)

  &__main
    padding default_spacing big_spacing

  &__footer
    border-top 1px solid rgba(black, 0.1)
    padding default_spacing big_spacing big_spacing

  &__title
    display flex
    justify-content space-between
    align-items center

  &__subtitle
    font-size .75rem
    text-transform: uppercase
    letter-spacing 1px
    opacity 0.75

  &__color-picker-btn
      position: relative
      icon("../public/palette.svg")

  &__color-picker
    position absolute
    background white
    border 1px solid light_gray
    box-shadow box_shadow
    padding default_spacing
    display none
    top 100%
    left 100%

    &.visible
      display flex

    > button
      border 1px solid light_gray
      border-radius 100%

      soft_bg_colors()

      & + button
        margin-left default_spacing