@import "constants.styl"

.dayplan
  position absolute
  width width_dayplan
  box-shadow box_shadow
  margin 1em
  padding default_spacing

  soft_bg_colors()

  button
    border-radius: 100%
    padding 1em
    background-color transparent
    border 1px solid gray

    &.pinned,
    &.unpinned
      background-repeat no-repeat
      background-position center center
      background-size 24px 24px
      height 32px
      width 32px

    &.pinned
      icon("../public/pinned.svg")

    &.unpinned
      icon("../public/unpinned.svg")

  &__color-picker-btn
      position: relative
      icon("../public/palette.svg")

  &__color-picker
    position absolute
    background white
    border 1px solid light_gray
    box-shadow box_shadow
    padding default_spacing
    display none
    top 100%
    left 100%

    &.visible
      display flex

    > button
      border 1px solid light_gray

      soft_bg_colors()

      & + button
        margin-left default_spacing