[data-elm-hot="true"] {
  height: inherit;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}
h1 {
  font-size: 30px;
}
img {
  margin: 20px 0;
  max-width: 200px;
}
.editor {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editor__background {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
}
.editor__inner {
  position: absolute;
  z-index: 2;
  background: #fff;
  border-radius: 12px;
  width: 800px;
  height: 90%;
  padding: 2em;
}
.editor__top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dayplan {
  position: absolute;
  width: 240px;
  box-shadow: 4px 4px 20px -10px #404040;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
}
.dayplan button {
  border-radius: 100%;
  padding: 1em;
}
.dayplan button.pinned,
.dayplan button.unpinned {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 24px;
  height: 32px;
  width: 32px;
}
.dayplan button.pinned {
  background-image: url("../public/pinned.svg");
}
.dayplan button.unpinned {
  background-image: url("../public/unpinned.svg");
}
