@import "styles/normalize.css";
[data-elm-hot="true"] {
  height: inherit;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  text-align: left;
  padding: 24px;
  color: #293c4b;
  cursor: default;
}
h1 {
  font-size: 30px;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
img {
  margin: 20px 0;
  max-width: 200px;
}
:focus {
  outline: none;
}
.btn {
  border: none;
  background: none;
  padding: 8px;
}
.dayplan {
  position: relative;
  width: 240px;
  box-shadow: 4px 10px 20px -10px #777;
  margin: 1em;
  line-height: 1.5em;
}
.dayplan.red {
  background-color: #ffccbe;
}
.dayplan.blue {
  background-color: #83c1e2;
}
.dayplan.yellow {
  background-color: #fff770;
}
.dayplan button {
  padding: 1em;
  background-color: transparent;
  border: none;
}
.dayplan button.pinned,
.dayplan button.unpinned {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 24px;
  height: 32px;
  width: 32px;
}
.dayplan button.pinned {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../public/pinned.svg");
}
.dayplan button.unpinned {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../public/unpinned.svg");
}
.dayplan__header {
  padding: 24px 24px 8px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.dayplan__main {
  padding: 8px 24px;
}
.dayplan__footer {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 8px 24px 24px;
}
.dayplan__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dayplan__title > input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  border-width: 1px;
  border-style: none none solid;
  background: none;
  display: inline-block;
  padding: 5px;
  margin-left: -5px;
}
.dayplan__subtitle {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.75;
}
.dayplan__color-picker-btn {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../public/palette.svg");
}
.dayplan__color-picker-btn:focus {
  background-color: rgba(0,0,0,0.2);
}
.dayplan__color-picker {
  position: absolute;
  z-index: 1;
  background: #fff;
  border: 1px solid #e4e4e4;
  box-shadow: 4px 10px 20px -10px #777;
  padding: 8px;
  display: none;
  top: 100%;
  left: 100%;
}
.dayplan__color-picker.visible {
  display: flex;
}
.dayplan__color-picker > button {
  border: 1px solid #e4e4e4;
  border-radius: 100%;
}
.dayplan__color-picker > button.red {
  background-color: #ffccbe;
}
.dayplan__color-picker > button.blue {
  background-color: #83c1e2;
}
.dayplan__color-picker > button.yellow {
  background-color: #fff770;
}
.dayplan__color-picker > button + button {
  margin-left: 8px;
}
.dayplan__delete-btn {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../public/trash.svg");
}
.editor {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}
.editor__background {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
}
.editor__inner {
  position: relative;
  z-index: 2;
  background: #fff;
  padding: 24px;
  box-shadow: 0 0 50px -15px #4c5265;
  display: flex;
  flex-direction: column;
  min-width: 80%;
}
.editor__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tick {
  position: relative;
}
.tick::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}
.tick__number {
  font-size: 1rem;
  position: absolute;
  overflow: visible;
  top: 0;
  transform: translateY(-50%);
  width: 1.5em;
  text-align: right;
  right: 2rem;
  box-sizing: border-box;
}
.tick__line {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
  background: #cbcbcb;
  width: 1rem;
  height: 1px;
  color: #fff;
  transform-origin: right center;
}
.tick:nth-of-type(12n + 1) .tick__line {
/* the full hour */
  background: #2f2f2f;
  width: 1.5rem;
}
.tick:nth-of-type(6n + 1):not(:nth-of-type(12n + 1)) .tick__line {
/* every half hour */
  background: #727272;
  width: 1.3rem;
}
.timeline__filter {
  position: relative;
  height: 100%;
}
.timeline__filter::before,
.timeline__filter::after {
  position: absolute;
  content: "";
  height: 10%;
  width: 100%;
  left: 0;
  z-index: 1;
}
.timeline__filter::before {
  top: 0;
  background: linear-gradient(#fff 10%, rgba(0,0,0,0) 100%);
}
.timeline__filter::after {
  bottom: 0;
  background: linear-gradient(rgba(0,0,0,0) 0%, #fff 90%);
}
.timeline {
  flex-grow: 1;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  padding: 70px 0;
  display: grid;
  grid-template-columns: 100px 1px 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-auto-flow: column;
  transition: 0.3s;
}
.timeline__separator {
  width: 1px;
  background: #808080;
  transform: scaleY(1.3);
  transform-origin: center;
}
.todo {
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  margin-right: 1rem;
  box-shadow: 1px 2px 0 0 rgba(66,66,66,0);
  transition: box-shadow 0.3s;
}
.todo--hover {
  box-shadow: 1px 3px 10px -2px rgba(66,66,66,0.84);
}
