@import "constants.styl"

icon(path)
  background-repeat no-repeat
  background-position center
  background-image url(path)

soft_bg_colors()
  &.red
    background-color soft_red

  &.blue
    background-color soft_blue

  &.yellow
    background-color soft_yellow